{% extends 'overall/layout' %}
{% block appBody %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Edición de usuario</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="users">Usuarios</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Editar</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Editar usuario</h5>
                    </div>

                    <form role="form" id="users_form">
                        <div class="ibox-content">
                            <div class="row">
                                    
                                <input type="hidden" name="id_user" id="id_id_user" value="{{ data.id_user }}">

                                <div class="form-group col-md-4">
                                    <label for="id_name">Nombre <span class="required">*</span></label> 
                                    <input type="text" name="name"  value="{{ data.name }}" id="id_name" placeholder="Nombre del usuario" class="form-control">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="id_email">Email <span class="required">*</span></label> 
                                    <input type="email" name="email" value="{{ data.email }}"  id="id_email" placeholder="Correo electrónico" class="form-control">
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="id_phone">Teléfono <span class="required">*</span></label> 
                                    <input type="phone" name="phone" value="{{ data.phone }}"  id="id_phone" placeholder="Número de teléfono" class="form-control">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="id_pass">Cambiar contraseña</label> 
                                    <input type="password" name="pass" id="id_pass" placeholder="Contraseña de acceso" class="form-control">
                                    <small>Si no desea cambiar la contraseña, dejar este campo vacío.</small>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="id_pass_repeat">Repetir Contraseña</label> 
                                    <input type="password" name="pass_repeat" id="id_pass_repeat" placeholder="Vuelve a escribir la contraseña" class="form-control">
                                </div>
                                
                            </div>
                        </div>

                        <div class="ibox-footer">
                            <button type="submit" id="users_btn" class="btn btn-primary"> <i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block appFooter %}
    <script src="./assets/jscontrollers/users/edit.js"></script>
{% endblock %}
