<!DOCTYPE html>
<html>

<head>
	{{ base_assets()|raw }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | 404 Error</title>

    <link href="assets/template/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/template/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="assets/template/css/animate.css" rel="stylesheet">
    <link href="assets/template/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">P치gina no encontrada</h3>

        <div class="error-desc">
            Lo siento, pero la p치gina que buscas no se ha encontrado. Intente verificar la URL en busca de error, luego presione el bot칩n de actualizaci칩n en su navegador.
            <div class="m-t text-center">
               
                <a href="dashboard" class="btn btn-primary">Ir al tablero</a>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="assets/template/js/jquery-3.1.1.min.js"></script>
    <script src="assets/template/js/popper.min.js"></script>
    <script src="assets/template/js/bootstrap.js"></script>

</body>

</html>
